body {
	width: 100%;
	background-color: #212121;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
		sans-serif;
}

body, header, nav {
	margin: 0px;
}

header {
	background-color: #0099CC;
	color: white;
	padding: 10px 10px;
}

nav {
	background-color: #8DC63F;
	margin-bottom: 20px;
	padding: 5px;
	height: 50px;
}

nav ul {
	float: left;
}

nav li {
	list-style-type: none;
	color: white;
	margin-left: 25px;
	margin-bottom: 10px;
	font-size: 1.3em;
	float: left;
}

nav li a {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

nav li a:hover {
	text-decoration: underline;
}

section {
	clear: both;
	display: block;
	width: 80%;
	margin: 20px auto;
	vertical-align: top;
	text-align: center;
	min-height: 450px;
	background-color: #FFF;
	border-radius: 7px;
}
.footer {
	color: #8ab436;
	text-align: center;
}
.productImage {
	width: 80%;
}
.rating {
	width: 80%;
}
tr.gray {
	background-color: #c9c9c9;
}

tr.gray > th {
	background-color: white;
	grid-auto-rows: 100%;
	max-width: 50%;
}
.price {
	color: #fb423d;
}
#productTable {
	border-collapse: collapse;

}
.flexContainer {
	
	width: 100%;
	display: flex;
}

.flexContainerTile{

	display: inline-block;
	width: 33%
}
.flexContainerTextTiles{
	width: 33%
}

.tanSpace {
	background-color: #E0EABC;
	width: 80%;
	min-height: 100px
}

.flexContainerText {
	display: flex;
	justify-content: space-between;
	align-self: flex-end;
}

.flexContainerName {
	display: flex;
	align-self: flex-end;
}
.masterContainer {
	display: flex;
}
#description {
	text-align: bottom;
}
.ratingTiles{
	height: 20px;
	width: 60%;
}
.blue {
	color: blue;
}
.red {
	color: red;
}
.productImageList {
	width: 200px;
	height: 150px;
	align-items: left;
	
}
.link a{
	text-decoration: none;
	color: black;
}
.containerList {
	display: flex;
	width:100%;
}
.containerListPics {
	display: block;
	height: 100%;
	width: 30%;
}
.containerListInfo {
	display: block;
	height: 100%;	
	width: 70%;	
	text-align: left;	
}
.ratingTilesList{
	height: 20px;
}
.productDetailsMain{
	display: flex;
	width: 100;
}
.containerDetailsPics{
	
	display: block;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}